<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-1">
    <button *ngIf="currentUser!=null" class="btn btn-light" (click)="logout()">Logout</button> <!---->
  </div>
  <div class="col-md-2">
    <button *ngIf="currentUser==null" class="btn btn-light" routerLink="/login" routerLinkActive="active">Login employee</button>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">SRV<i class="fas fa-paper-plane"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <!--routerLink toma la direccion para que angular navegue y pinta el componente desde el cliente-->
            <a class="nav-link" routerLink="/rent" routerLinkActive="active"><i class="fas fa-car"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sinester" routerLinkActive="active"><i class="fas fa-car-crash"></i>Siniestro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>