<div class="container" style="margin: 0px 0px 20px 0px;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width:30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <!--<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
        </div>
</div>
<div class="container">
        <div class="row">
                <div class="col-md-3"> <!--Filtrado para el vehiculo-->
                        <form [formGroup]="checkoutFormFilter" (ngSubmit)="onSubmit(checkoutFormFilter.value)">
                                <div class="col">
                                        <div class="row">
                                                <label>Tipo</label>
                                                <select class="custom-select" formControlName="tipo" required>
                                                        <option *ngFor="let dato of datosBusqueda.filtrado.tipos" [value]="dato.tipo">{{dato.tipo}}</option>
                                                </select>
                                        </div>
                                        <div class="row">
                                                <label>Marca</label>
                                                <select class="custom-select" formControlName="marca" required>
                                                        <option *ngFor="let dato of datosBusqueda.filtrado.marcas" [value]="dato.marca">{{dato.marca}}</option>
                                                </select>
                                        </div>
                                        <div class="row">
                                                <label>Color</label>
                                                <select class="custom-select" formControlName="color" required>
                                                        <option *ngFor="let dato of datosBusqueda.filtrado.colores" [value]="dato.color">{{dato.color}}</option>
                                                </select>
                                        </div>
                                        <div class="row">            
                                                <label>Anio</label>
                                                <select class="custom-select" formControlName="anio" required>
                                                        <option *ngFor="let dato of datosBusqueda.filtrado.anios" [value]="dato.anio">{{dato.anio}}</option>
                                                </select>
                                        </div>
                                        <div class="row">
                                                <label>Kilometraje</label>
                                                <select class="custom-select" formControlName="kilometraje" required>
                                                        <option *ngFor="let dato of datosBusqueda.filtrado.kilometrajes" [value]="dato.kilometraje">{{dato.kilometraje}}</option>
                                                </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                        </form>
                </div>
                <div class="col-md-9"> <!--Datos de los vehiculos disponibles-->
                        <div class="col" style="padding:50px 0px 0px;">
                                <h3>Vehiculos disponibles en la sucursal</h3>
                                <div *ngFor="let veh of datosBusqueda.vehiculos" class="card mb-3">
                                        <div class="row no-gutters">
                                                <div class="col-md-4">
                                                        <img src="{{veh.image_url}}" class="card-img">
                                                </div>
                                                <div class="col-md-8">
                                                        <div class="card-body">
                                                                <h5 class="card-title">{{veh.marca}} {{veh.modelo}}</h5>
                                                                <p class="card-text">Tipo: {{veh.tipo}} <br> Color: {{veh.color}} <br> Anio: {{veh.anio}} <br> Kilometraje: {{veh.kilometraje}} <br> Precio: {{veh.precio | currency}} </p>
                                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                                <a [routerLink]="['/rent/reserve',veh.matricula]" class="btn btn-danger">Reservar</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>