<div class="container" style="margin: 0px 0px 20px 0px;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width:30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <!--<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
        </div>
</div>
<div class="container">
        <div class="row">
                <form [formGroup]="checkoutFormFilter" (ngSubmit)="onSubmit(checkoutFormFilter.value)">
                        <div class="row">
                                <div class="col">
                                        <label>Tipo</label>
                                        <input type="text" name="tipo" formControlName="tipo" class="form-control" placeholder="tipo">
                                </div>
                                <div class="col">
                                        <label>Marca</label>
                                        <input type="text" name="marca" formControlName="marca" class="form-control" placeholder="marca">
                                </div>
                                <div class="col">
                                        <label>Modelo</label>
                                        <input type="text" name="modelo" formControlName="modelo" class="form-control" placeholder="modelo">
                                </div>
                                <div class="col">            
                                        <label>Anio</label>
                                        <input type="text" name="anio" formControlName="anio" class="form-control" placeholder="anio">
                                </div>
                                <div class="col">
                                        <label>Kilometraje</label>
                                        <input type="text" name="kilometraje" formControlName="kilometraje" class="form-control" placeholder="kilometraje">
                                </div>
                                <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                </form>
        </div>

        <div class="row">
                <div class="col" style="padding:50px 0px 0px;">
                        <h3>Vehiculos disponibles en la sucursal</h3>
                        <div *ngFor="let veh of vehicle" class="card mb-3">
                                <div class="row no-gutters">
                                        <div class="col-md-4">
                                                <img src="{{veh.image_url}}" class="card-img">
                                         </div>
                                        <div class="col-md-8">
                                                <div class="card-body">
                                                        <h5 class="card-title">{{veh.marca}} {{veh.modelo}}</h5>
                                                        <p class="card-text">Tipo: {{veh.tipo}} <br> Color: {{veh.color}} <br> Anio: {{veh.anio}} <br> Kilometraje: {{veh.kilometraje}} <br> Precio: {{veh.precio | currency}} </p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                        <a [routerLink]="['/rent/reserve',veh.matricula]" class="btn btn-danger">Reservar</a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>