
<div class="container" style="margin: 0px 0px 20px 0px;">
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [style.width]="progressBar+'%'" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
   </div>
</div>
<div class="container">
    <!--interpolation binding {{}} sirve para unir una propiedad a lo que estamos mostrando en la vista-->
    
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" >
        <!--class="was-validated"-->
        <div class="row">
            <div class="col-md-5">
                <h6>Sucursal de retiro</h6>
                <div class="form-group was-validated"> 
                    <select class="custom-select" (change)="incrementProgressBar('local_ret')" formControlName="local_retiro" required>
                        <option *ngFor="let suc of sucursales" [value]="suc.id_sucursal">{{suc.region}}, {{suc.ciudad}}, {{suc.calle}} {{suc.numero}} </option>
                    </select>
                    <div class="invalid-feedback">Seleccione la sucursal de retiro</div>
                </div>
            </div>
        
            <div class="col-md-2"></div>
            <div class="col-md-5">
                    <h6>Sucursal de devolucion</h6>
                    <div class="form-group was-validated">
                        <select class="custom-select" (change)="incrementProgressBar('local_dev')" formControlName="local_devolucion" required>
                            <option *ngFor="let suc of sucursales" [value]="suc.id_sucursal">{{suc.region}}, {{suc.ciudad}}, {{suc.calle}} {{suc.numero}} </option>
                        </select>
                        <div class="invalid-feedback">Seleccione la sucursal de devolucion</div>
                    </div>
            </div>
        </div>

        <div class="row">
                <div class="col">
                        <div class="row justify-content-center">
                                <app-datepicker></app-datepicker>
                        </div>
                        <div class="row justify-content-center">
                                <div class="col-md-3 offset-md-1">
                                    <h6>Hora retiro</h6>
                                    <app-timepicker [tipo]="true"></app-timepicker>           
                                </div>
                                <div class="col-md-3 offset-md-1">
                                    <h6>Hora devolucion</h6>
                                    <app-timepicker [tipo]="false"></app-timepicker>
                                </div>
                        </div>
                </div>
        </div>
         <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
        <button class="btn btn-primary" type="submit">Enviar formulario</button>
    </form>
</div>