<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header"><h5>Bienvenido al menu {{datosEmpleado[0].primer_nom}}, este es el menu del Rentador</h5></div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><button routerLink='/employee/my-profile' type="button" class="btn btn-info">Mi perfil</button></li>
              <li class="list-group-item"><button routerLink='/employee/rents-list' type="button" class="btn btn-info">Ver lista de rentas</button></li>
              <li class="list-group-item"><button type="button" class="btn btn-info">Ver lista de siniestros </button></li>
            </ul>
          </div>
    </div>
</div>
